<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="product"></ion-back-button>
    </ion-buttons>ผลิตภัณฑ์ข้าวแปรรูป
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../assets/images/a8.png"  alt="">
      <ion-card-title>ข้าวกล้องงอกหอมมะลิ 105</ion-card-title>
    </ion-card-header>

    <ion-card-content>
  <b>รายละเอียดสินค้า</b><br>
เป็นที่ยอมรับกันโดยทั่วไปแล้วว่า ข้าวกล้องนั้นมีประโยชน์มากกว่าข้าวขาว เพราะเยื่อหุ้มเมล็ดข้าวสีน้ำตาลอ่อนยังไม่ถูกขัดสีออกไปนั้น เป็นแหล่งรวมของสารอาหารสำคัญๆ อย่างเช่น คาร์โบไฮเดรต โปรตีน วิตามินซี บี1, บี2
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="success" name="cash" slot="start"></ion-icon>
      <ion-label>150.00 ฿</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>094-4720183</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.ราษีไศล</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
