<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="location"></ion-back-button>
    </ion-buttons>แหล่งเรียนรู้เชิงเกษตร
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src="../assets/images/a18.jpg"  alt="">
        <h1><ion-card-title>วิสาหกิจชุมชนศูนย์ข้าวชุมชนบ้านอุ่มแสง จังหวัดศรีสะเกษ</ion-card-title></h1>
      </ion-card-header>

      <ion-card-content>
    <b>รายละเอียดแหล่งรู้เรื่องทางการเกษตร</b><br>
    เป็นกลุ่มผลิตข้าวหอมมะลิอินทรีย์ครบวงจรขนาดใหญ่ ผลิตเมล็ดพันธุ์ข้าวอินทรีย์และผลิตภัณฑ์แปรรูปจากข้าว ที่ผ่านการรับรองคุณภาพมาตรฐานจากหน่วยงานภาครัฐทั้งในประเทศและต่างประเทศ ทำให้ขายผลผลิตได้ราคาสูง มีรายได้ที่มั่นคงขยายตลาดได้อย่างต่อเนื่อง สินค้าข้าวอินทรีย์ของชุมชนแห่งนี้มีคุณภาพดี เป็นที่รู้จักของผู้บริโภคทั้งในประเทศและต่างประเทศ ทำให้คนรุ่นใหม่เกิดความภาคภูมิใจที่จะสานต่ออาชีพทำนาจากพ่อแม่
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon color="success" name="time" slot="start"></ion-icon>
        <ion-label>08:30-16:00 น.</ion-label>
      </ion-item>
    </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
          <ion-label>082-3685152</ion-label>
          <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="danger" name="pin" slot="start"></ion-icon>
          <ion-label>ต. ดู่ อ.ราษีไศล จ.ศรีสะเกษ</ion-label>
          <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
        </ion-item>
      </ion-card>
</ion-content>
