<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="location"></ion-back-button>
    </ion-buttons>แหล่งเรียนรู้เชิงเกษตร
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src="../assets/images/a9.png"  alt="">
        <h1><ion-card-title>กลุ่มท่องเที่ยวเกษตรบ้านชำตารมย์</ion-card-title></h1>
      </ion-card-header>

      <ion-card-content>
    <b>รายละเอียดแหล่งรู้เรื่องทางการเกษตร</b><br>
    เป็นหมู่บ้านโครงการนำร่องหมู่บ้านท่องเที่ยวเชิงเกษตรซึ่งชาวสวนทุเรียนในหมู่บ้านนี้ได้มีการรวมกลุ่มเกษตรกรโดยใช้ชื่อกลุ่มว่า “กลุ่มผู้ผลิตทุเรียนคุณภาพดีบ้านซำตารมย์” ซึ่งได้รับการสนับสนุนจากกรมส่งเสริมการเกษตร และตรวจรับรองคุณภาพผลผลิตโดยกรมวิชาการเกษตร ทำให้กลุ่มฯ กล้ารับประกันในเรื่องของคุณภาพผลผลิตของสมาชิก ประธานกลุ่มคือ นายทศพล สุวะจันทร์ ซึ่งเป็นเจ้าของสวนทศพล ที่เป็นจุดเชื่อมเครือข่ายในการท่องเที่ยวเกษตรมีผลผลิตทางการเกษตรตลอดทั้งปี ได้แก่ เงาะ ทุเรียน สะตอ มังคุด ลองกอง ฯลฯ นอกจากนี้ยังมีสวนทับทิม ซึ่งเป็นอีกจุดที่เปิดให้นักท่องเที่ยวเข้าชมสวน พร้อมทั้งสามารถเลือกซื้อผลไม้ได้อย่างสะดวกสบาย พร้อมทั้งยังมี “กระเทียมโทนดองน้ำผึ้ง” เป็นสินค้าหนึ่งตำบลหนึ่งผลิตภัณฑ์(OTOP) ที่มีชื่อเสียงของชุมชน นักท่องเที่ยวจะได้ร่วมกิจกรรมชิมผลไม้สดๆ จากสวน ร่วมเรียนรู้วิถีชีวิตชาวสวนผลไม้ภาคอีสานตอนล่าง ศึกษาวัฒนาธรรมชุมชน และสามารถเดินทางไปท่องเที่ยวแหล่งใกล้เคียงได้อีกด้วย
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon color="success" name="time" slot="start"></ion-icon>
        <ion-label>08:30-16:00 น.</ion-label>
      </ion-item>
    </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
          <ion-label>045-611878</ion-label>
          <ion-icon color="secondary" name="call" fill="outline" slot="end" ></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="danger" name="pin" slot="start"></ion-icon>
          <ion-label>ต.ตระกาจ อ.กันทรลักษ์ จ.ศรีสะเกษ 33110</ion-label>
          <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
        </ion-item>
      </ion-card>
</ion-content>
