<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="location"></ion-back-button>
    </ion-buttons>แหล่งเรียนรู้เชิงเกษตร
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src="../assets/images/a11.png"  alt="">
        <h1><ion-card-title>สวนทศพล แหล่งท่องเที่ยว<br>เชิงเกษตรบ้านซำตารมย์</ion-card-title></h1>
      </ion-card-header>

      <ion-card-content>
    <b>รายละเอียดแหล่งรู้เรื่องทางการเกษตร</b><br>
    สวนทศพล แหล่งท่องเที่ยวเชิงเกษตรที่สำคัญแห่งบ้านซำตารมย์ อ.กันทรลักษ์ จ.ศรีสะเกษ เป็นแหล่งผลิตทุเรียนหมอนทองคุณภาพ ไม้ผล และพืชเศรษฐกิจอื่นๆ อาทิ เงาะ มังคุด ลองกอง ส้มโอ ยางพารา ปาล์ม ฯลฯ บนพื้นที่กว่า 30 ไร่ ภายใต้การรับรองมาตรฐานการผลิตจากกรมวิชาการเกษตร เป็นจุดถ่ายทอดเทคโนโลยีและศูนย์การเรียนรู้ฯ ที่ให้ความรู้ในด้านการผลิตไม้ผลคุณภาพมาตรฐานการส่งออก
    และพร้อมเปิดสวนต้อนรับนักท่องเที่ยวผู้มาเยือนในรูปแบบของการท่องเที่ยวเชิงเกษตรได้เข้ามาชม ชิม และเลือกซื้อผลไม้สดๆจากสวนได้โดยตรง

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon color="success" name="time" slot="start"></ion-icon>
        <ion-label>08:00-17:00 น.</ion-label>
      </ion-item>
    </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
          <ion-label>045-611878</ion-label>
          <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="danger" name="pin" slot="start"></ion-icon>
          <ion-label>ต.ตระกาจ อ.กันทรลักษ์ จ.ศรีสะเกษ 33110</ion-label>
          <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
        </ion-item>
      </ion-card>
</ion-content>
