<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="location"></ion-back-button>
    </ion-buttons>แหล่งเรียนรู้เชิงเกษตร
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src="../assets/images/a10.png"  alt="">
        <h1><ion-card-title>ศูนย์เรียนรู้การเพิ่มประสิทธิภาพการผลิตสินค้าเกษตร<br>(ศพก.)</ion-card-title></h1>
      </ion-card-header>

      <ion-card-content>
    <b>รายละเอียดแหล่งรู้เรื่องทางการเกษตร</b><br>
    พื้นที่จำนวน ๙ ไร่  จำนวน ๙ สถานีเรียนรู้ บ้านเลขที่ ๙๙  ม.๙  ต.คำเนียม                                                                                    อ.กันทรารมย์  จ.ศรีสะเกษ   โทร.๐๘๙ ๕๗๙ ๒๙๙๙
  เริ่มทำเศรษฐกิจพอเพียงตามแนวพระราชดำริฯ เมื่อ ๕ ธันวาคม ๒๕๔๔ (วันพ่อแห่งชาติ)<br>

   ต่อมาปี ๒๕๔๙  พัฒนามาเป็นศูนย์เรียนรู้เศรษฐกิจพอเพียงในระดับจังหวัด  และระดับประเทศตามลำดับ
  ๕ สิงหาคม ๒๕๕๗  รัฐบาลแต่งตั้งให้เป็น ศูนย์เรียนรู้การเพิ่มประสิทธิภาพการผลิตสินค้าเกษตร(ศพก.)
  และกระทรวงเกษตรฯ ได้คัดเลือก   ศูนย์เรียนรู้ฯ แห่งนี้    จาก ๘๘๒ แห่งทั่วประเทศ    โดยที่ประชุมโหวตให้
  นายเชิดชัย จิณะแสน  ดำรงตำแหน่งเป็น ประธานเครือข่าย ศพก.ระดับประเทศ เมื่อกันยายน ๒๕๕๙  มีหน้าที่ขับเคลื่อน
  ศูนย์เรียนรู้ฯ ๘๘๒ แห่ง(๘๘๒ อำเภอ)  เพื่อพัฒนาเกษตรกรไทย ควบคู่กับการทำงานและนโยบายของรัฐบาล

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon color="success" name="time" slot="start"></ion-icon>
        <ion-label>08:30-16:00 น.</ion-label>
      </ion-item>
    </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
          <ion-label>081-2644333</ion-label>
          <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon color="danger" name="pin" slot="start"></ion-icon>
          <ion-label>ต.คำเนียม อ.กันทรารมย์ จ.ศรีสะเกษ 33110</ion-label>
          <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
        </ion-item>
      </ion-card>
</ion-content>
