<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="feed"></ion-back-button>
    </ion-buttons>รายการแนะนำ
    </ion-toolbar>
</ion-header>
<ion-content>

<ion-card color="light">
  <ion-card-header>
    <ion-card-subtitle>ข้าวหอมมะลิแดง</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <img src="./assets/images/a15.jpg"  alt="">
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.เบญจลักษ์</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/m1">ดูข้อมูล</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>วิสาหกิจชุมชนศูนย์ข้าวชุมชนบ้านอุ่มแสง จังหวัดศรีสะเกษ</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a17.jpg" alt="">
      <ion-item>
        <ion-icon color="danger" name="pin" slot="start"></ion-icon>
        <ion-label>วิสาหกิจชุมชนศูนย์ข้าวชุมชนบ้านอุ่มแสง จังหวัดศรีสะเกษ</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/m2">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card >

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวกล้องหอมมะลิแดงอินทรีย์</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/n3.jpg" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>100.00 ฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/m3">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card >

</ion-content>
