<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="seeds"></ion-back-button>
    </ion-buttons>ข้อมูลพันธุ์ข้าว
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="./assets/images/a14.jpg"  alt="">
      <ion-card-title>ข้าวไรซ์เบอร์รี่</ion-card-title>
    </ion-card-header>

    <ion-card-content>
<b>ชนิด</b> - ข้าวเจ้าหอม<br>
<br><b>รายละเอียดพันธุ์ข้าว</b><br>
ข้าวไรซ์เบอรี่ (ภาษาอังกฤษ: Rice Berry) เป็นผลงานการปรับปรุงสายพันธุ์ของ รศ.ดร.อภิชาติ และทีมนักวิจัยจาก ศูนย์วิจัยพันธุ์ข้าว มหาวิทยาลัยเกษตรศาสตร์ และความร่วมมือจากคณะกรรมการวิจัยแห่งชาติ (วช.) โดยเป็นการผสมข้ามสายพันธุ์ ระหว่าง ข้าวเจ้าหอมนิล ซึ่งเป็นสายพันธุ์พ่อ + ข้าวขาวดอกมะลิ 105 ซึ่งเป็นสายพันธุ์แม่ ทำให้ได้ลักษณะที่ดีและคุณประโยชน์เด่นๆ ออกมา ซึ่งพันธุ์ข้าวนี้ได้รับการจดทะเบียนเป็นพันธุ์พืชใหม่ ห้ามมีการนำไปขยายพันธุ์ในเชิงการค้าต่อโดยไม่ได้รับอนุญาตจาก วช. และมหาวิทยาลัยเกษตรศาสตร์
<br><b>ลักษณะประจำพันธุ์</b><br>
ข้าวไรซ์เบอรี่มีลักษณะเรียวยาว ผิวมันวาว เป็นข้าวจ้าวสีม่วงเข้มคล้ายกับลูกเบอร์รี่ที่มีสีม่วงเข้มเมื่อสุก หากเป็นข้าวกล้องจะมีกลิ่นหอมที่เป็นเอกลักษณ์เฉพาะตัว อีกทั้งยังมีรสชาติหอมมัน เนื้อสัมผัสเหนียวนุ่ม เนื่องจากผ่านการขัดสีเพียงแค่บางส่วนเท่านั้น จึงยังทำให้คงคุณค่าทางโภชนาการไว้ได้อย่างครบถ้วน ข้าวสายพันธุ์พิเศษสีม่วงนี้สามารถปลูกได้ตลอดทั้งปี มีอายุเก็บเกี่ยว 130 วัน ให้ผลผลิตปานกลาง มีความสามารถต้านทานต่อโรคไหม้ แต่ไม่ต้านทานโรคหลาว จึงแนะนำให้เปลี่ยนเมล็ดพันธุ์ทุกรอบของการปลูก
<br><b>ความน่าสนใจ</b><br>
ข้าวไรซ์เบอรี่ อุดมไปด้วยคุณค่าทางอาหารสูง โดยคุณประโยชน์ที่เด่นชัดที่สุดจะพบได้ในน้ำมันรำข้าว และรำข้าว มีคุณสมบัติต่อต้านอนุมูลอิสระได้ดี อุดมไปด้วยโฟเลจในปริมาณสูง นอกจากนั้นยังอุดมไปด้วยสารอาหารอื่นๆ ที่มีประโยชน์ต่อร่างกายมากมายหลายชนิด ได้แก่ เบต้าแคโรทีน, แกมมาโอไรซานอล, วิตามินอี, วิตามินบี 1, ลูทีน, แทนนิน, สังกะสี, โอเมก้า 3, ธาตุเหล็ก, โพลีฟีนอล และเส้นใย เป็นต้น ซึ่งสารอาหารเหล่านี้มีส่วนช่วยในการ<br>
1. บำรุงร่างกาย<br>
2. บำรุงสายตา<br>
3. บำรุงระบบประสาท<br>
4. ลดความเสี่ยงต่อการเกิดมะเร็ง<br>
5. ช่วยป้องกันโรคต่างๆ ได้อย่างมากมาย อาทิ โรคเบาหวาน โรคมะเร็ง โรคหลอดเหลือด โรคหัวใจ โรคความดันโลหิตสูง โรคสมองเสื่อม และโรคโลหิตจาง<br>
6. มีส่วนช่วยในการสร้างคอลลาเจน ช่วยชะลอความแก่<br>
7. ลดระดับไขมัน และคอเรสเตอรอลได้<br>
 <br>เป็นการรับประทานเพียง 1 ที่ได้ถึง 2 เป็นทั้งข้าวที่เป็นอาหารหลักของคนไทย ทั้งยังเป็นสมุนไพรไปด้วยในตัว ครบทุกคุณประโยชน์แถมยังมีรสอร่อยถูกปากอีกด้วย<br>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>094-4720183</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.เบญจลักษ์</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

</ion-content>
