<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="feed"></ion-back-button>
    </ion-buttons>แหล่งเรียนรู้เชิงเกษตร
    </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>กลุ่มท่องเที่ยวเกษตรบ้านชำตารมย์</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a9.png"  alt="">
      <ion-item>
        <ion-icon color="danger" name="pin" slot="start"></ion-icon>
        <ion-label>ต.ตระกาจ อ.กันทรลักษ์ จ.ศรีสะเกษ 33110</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/l1">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ศูนย์เรียนรู้การเพิ่มประสิทธิภาพการผลิตสินค้าเกษตร (ศพก.)</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a10.png"  alt="">
      <ion-item>
        <ion-icon color="danger" name="pin" slot="start"></ion-icon>
        <ion-label>ต.คำเนียม อ.กันทรารมย์ จ.ศรีสะเกษ 331100</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/l2">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>สวนทศพล แหล่งท่องเที่ยวเชิงเกษตรบ้านซำตารมย์</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a11.png"  alt="">
      <ion-item>
        <ion-icon color="danger" name="pin" slot="start"></ion-icon>
        <ion-label>ต.ตระกาจ อ.กันทรลักษ์ จ.ศรีสะเกษ 33110</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/l3">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
