<ion-header>

</ion-header>

<ion-content>
  <p></p>
  <p></p>
  <div text-center>ข้าวหอมเมืองศรี</div>
  <p></p>

  <div class="ion-padding"  text-center><img src="/assets/images/r8.png" size="width: 10%" routerLink="/seeds" alt=""></div>
  <div class="ion-padding"  text-center><img src="/assets/images/r7.png" routerLink="/product" alt=""></div>
  <div class="ion-padding"  text-center><img src="/assets/images/r9.png" routerLink="/location" alt=""></div>
  <div class="ion-padding"  text-center><img src="/assets/images/r11.png" routerLink="/menu" alt=""></div>
</ion-content>
