<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="seeds"></ion-back-button>
    </ion-buttons>ข้อมูลพันธุ์ข้าว
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="./assets/images/a16.jpg"  alt="">
      <ion-card-title>ข้าว กข15</ion-card-title>
    </ion-card-header>

    <ion-card-content>
<b>ชนิด</b> - ข้าวเจ้าหอม,ข้าวเหนียว<br>
<br><b>รายละเอียดพันธุ์ข้าว</b><br>
ข้าว กข15 หรือ ข้าวหอมมะลิ กข15 หรือ ข้าวดอ ที่ชาวบ้านเรียกขานกันนั้นเป็นข้าวหอมมะลิพันธุ์เบาที่มีช่วงการเก็บเกี่ยว เร็วกว่า ข้าวหอมมะลิ105 ประมาณ หนึ่งเดือน เป็นข้าวที่เกษตรกรในภาคเหนือ และภาคตะวันออกเฉียงเหนือ นิยมปลูกกัน เพื่อใช้เงินจากการขายข้าวบางส่วนเป็นค่าใช้จ่ายก่อนที่จะเก็บเกี่ยวข้าวหอมมะลิ105 ในช่วงปลายปี เพราะใช้เวลานานกว่า<br>
<br><b>ลักษณะประจำพันธุ์</b><br>
- เป็นข้าวเจ้า สูงประมาณ 140 เซนติเมตร<br>
- ไวต่อช่วงแสง<br>
- อายุเก็บเกี่ยวประมาณ 10 พฤศจิกายน<br>
- ลำต้นและใบสีเขียวอ่อน ใบธงทำมุมกับคอรวง รวงอยู่เหนือใบ ใบยาว ค่อนข้างแคบ<br>
- เมล็ดข้าวเปลือกสีฟาง ปลายบิดงอเล็กน้อย<br>
- ระยะพักตัวของเมล็ดประมาณ 7 สัปดาห์<br>
- เมล็ดข้าวเปลือก ยาว x กว้าง x หนา = 10.7 x 2.5 x 1.9 มิลลิเมตร<br>
- เมล็ดข้าวกล้อง ยาว x กว้าง x หนา =7.5 x 2.1 x 1.7 มิลลิเมตร<br>
- ปริมาณอมิโลส 14-17 %<br>
- คุณภาพข้าวสุก นุ่ม มีกลิ่นหอม<br>

<br><b>ผลผลิต</b><br>
- ประมาณ 560 กิโลกรัมต่อไร่<br>
 
<br><b>ลักษณะเด่น</b><br>
- ทนแล้งได้ดีพอสมควร<br>
- อายุเบา เก็บเกี่ยวได้เร็ว<br>
- คุณภาพการหุงต้ม นุ่ม มีกลิ่นหอม<br>
- คุณภาพการสีดี เมล็ดข้าวสารใส แกร่ง เรียวยาว<br>
- นวดง่าย<br>
- ต้านทานโรคใบจุดสีน้ำตาล<br>

<br><b>ข้อควรระวัง</b><br>
- ไม่ต้านทานโรคขอบใบแห้ง โรคไหม้<br>
- ไม่ต้านทานแมลงบั่ว เพลี้ยกระโดดสีน้ำตาลและหนอนกอ<br>
- ล้มง่าย ฟางอ่อน เมล็ดร่วงง่าย<br>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>094-4720183</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.กันทรลักษ์</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
