<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="feed"></ion-back-button>
    </ion-buttons>ผลิตภัณฑ์ข้าวแปรรูป
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวกล้องหอมมะลิออร์แกนิค(ทุ่งกุลาร้องไห้)</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a6.png" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>85฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/p1">ดูข้อมูล</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวกล้องหอมมะลิออร์แกนิค(ทุ่งกุลาร้องไห้) บรรจุสูญญากาศ</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a7.png" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>85฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/p2">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวกล้องงอกหอมมะลิ 105</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a8.png" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>150฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/p3">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวไรซ์เบอรี่ศรีสะเกษ</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/a12.png" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>110฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/p4">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวกล้องหอมมะลิแดงอินทรีย์</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/n3.jpg" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>100฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/p5">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวมะลินิลสุรินทร์</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/n2.jpg" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>85฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/p6">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>ข้าวกล้อง บรรจุสูญญากาศ</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/images/n1.jpg" alt="">
      <ion-item>
        <ion-icon color="success" name="cash" slot="start"></ion-icon>
        <ion-label>85฿</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/p7">ดูข้อมูล</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
