<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="product"></ion-back-button>
    </ion-buttons>ผลิตภัณฑ์ข้าวแปรรูป
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../assets/images/a12.png"  alt="">
      <ion-card-title>ข้าวไรซ์เบอรี่ศรีสะเกษ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
  <b>รายละเอียดสินค้า</b><br>
ข้าวไรซ์เบอรี่ อุดมไปด้วยคุณค่าทางอาหารสูง โดยคุณประโยชน์ที่เด่นชัดที่สุดจะพบได้ในน้ำมันรำข้าว และรำข้าว มีคุณสมบัติต่อต้านอนุมูลอิสระได้ดี อุดมไปด้วยโฟเลจในปริมาณสูง นอกจากนั้นยังอุดมไปด้วยสารอาหารอื่นๆ ที่มีประโยชน์ต่อร่างกายมากมายหลายชนิด ได้แก่ เบต้าแคโรทีน, แกมมาโอไรซานอล, วิตามินอี, วิตามินบี 1, ลูทีน, แทนนิน, สังกะสี, โอเมก้า 3, ธาตุเหล็ก, โพลีฟีนอล และเส้นใย เป็นต้น ซึ่งสารอาหารเหล่านี้มีส่วนช่วยในการ<br>
1. บำรุงร่างกาย<br>
2. บำรุงสายตา<br>
3. บำรุงระบบประสาท<br>
4. ลดความเสี่ยงต่อการเกิดมะเร็ง<br>
5. ช่วยป้องกันโรคต่างๆ ได้อย่างมากมาย อาทิ โรคเบาหวาน โรคมะเร็ง โรคหลอดเหลือด โรคหัวใจ โรคความดันโลหิตสูง โรคสมองเสื่อม และโรคโลหิตจาง<br>
6. มีส่วนช่วยในการสร้างคอลลาเจน ช่วยชะลอความแก่<br>
7. ลดระดับไขมัน และคอเรสเตอรอลได้
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="success" name="cash" slot="start"></ion-icon>
      <ion-label>70.00 ฿</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>086-8754838</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.ราษีไศล</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
