<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="seeds"></ion-back-button>
    </ion-buttons>ข้อมูลพันธุ์ข้าว
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="./assets/images/a13.jpg"  alt="">
      <ion-card-title>ข้าวหอมมะลิ105</ion-card-title>
    </ion-card-header>

    <ion-card-content>
<b>ชนิด</b> - ข้าวเจ้าหอม<br>
<br><b>รายละเอียดพันธุ์ข้าว</b><br>
ข้าวหอมมะลิทุ่งกุลาร้องไห้ได้ขึ้นชื้อว่าเป็นข้าวหอมมะลิที่ดีที่สุดในประเทศไทย เนื่องจากภูมิประเทศ,ภูมิอากาศและฤดูกาลในการเพาะปลูกที่สอดคล้องกัน การเพาะปลูกเริ่มตั้งแต่ช่วงเดือน กรกฎาคม - สิงหาคม และ จะไปเก็บเกี่ยวช่วงเดือนพฤศจิกายน-ธันวาคม
พื้นดินเป็นดินปนทรายและดินมีความเค็มเล็กน้อยบวกกับสภาพภูมิอากาศที่แห้งแล้งสลับชื้นลักษณะดังกล่าวทำให้ข้าวหอมมะลิ105 มีคุณภาพดี ยิ่งในฤดูกาลใดหากช่วงเก็บเกี่ยวพื้นนาแห้งสนิทไม่มีน้ำขังผสมกับอากาศที่หนาวเย็นจะทำให้ข้าวมีความหอมมากยิ่งขึ้น
<br><b>ลักษณะประจำพันธุ์</b><br>
ความหอมของข้าวหอมมะลิ เกิดจากสารระเหยชื่อ 2-acetyl-1-pyroline ซึ่งเป็นสารที่ระเหยหายไปได้ การรักษาความหอมของข้าวหอมมะลิให้คงอยู่นานนั้นจึงควรเก็บข้าวไว้ในที่เย็น อุณหภูมิประมาณ 15 องศาเซลเซียส เก็บข้าวเปลือกที่มีความชื้นต่ำ 14-15% ลดความชื้นข้าวเปลือกที่อุณหภูมิไม่สูงเกินไป นักการเกษตรกรบางท่านกล่าวว่า การใช้ปุ๋ยโปตัสเซียมในการปลูก มีแนวโน้มช่วยให้ข้าวมีกลิ่นหอมมากขึ้น (ยังไม่มีข้อมูลยืนยัน)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>094-4720183</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.ราษีไศล</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

</ion-content>
