<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="product"></ion-back-button>
    </ion-buttons>ผลิตภัณฑ์ข้าวแปรรูป
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../assets/images/n2.jpg"  alt="">
      <h1><ion-card-title>ข้าวมะลินิลสุรินทร์ บรรจุสูญญากาศ 1 กิโลกรัม</ion-card-title></h1>
    </ion-card-header>

    <ion-card-content>
<b>รายละเอียดสินค้า</b><br>
เป็นข้าวที่มีเอกลักษณ์เฉพาะมีรสชาตอร่อย มีกลิ่นหอมเป็นเอกลักษณ์ของตัวเอง โดดเด่น แตกต่างจากข้าวสีอื่น มีคุณประโยชน์บางอย่างมากกว่าข้าวสีอื่น และยังอุดมไปด้วยสารอาหารวิตามินบี ธาตุ มีสารต้านอนุมูลอิสระ ลดความเสี่ยง การเกิดโรคมะเร็ง ช่วยลดระดับคลอเรสเตอรอลและน้ำตาลในเลือด ป้องกันความเสี่ยงโรคสมองเสื่อม
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="success" name="cash" slot="start"></ion-icon>
      <ion-label>85.00 ฿</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>086-8754838</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.ราษีไศล</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

</ion-content>
