<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="seeds"></ion-back-button>
    </ion-buttons>ข้อมูลพันธุ์ข้าว
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="./assets/images/a15.jpg"  alt="">
      <ion-card-title>ข้าวไรซ์เบอร์รี่</ion-card-title>
    </ion-card-header>

    <ion-card-content>
<b>ชนิด</b> - ข้าวเจ้าหอม<br>
<br><b>รายละเอียดพันธุ์ข้าว</b><br>
เป็นข้าวเจ้า นาปี ที่สามารถนำมาทำนาปรังได้ ความสูงของต้นประมาณ 120 – 130 เซนติเมตร เป็นข้าวไวต่อช่วงแสง สามารถปลูกได้ตลอดทั้งปี ลำต้นแข็ง กอตั้ง การแตกกอดี ใบสีเขียวอ่อน ใบโน้ม ใบธงตก คอรวงยาว รวงยาว เมล็ดข้าวเปลือกสีฟาง ระยะพักตัวของเมล็ดประมาณ 8 สัปดาห์ ท้องไข่น้อย เมล็ดข้าวกล้อง กว้าง x ยาว x หนา = 2.1 x 7.5 x 1.7 มิลลิเมตร มีปริมาณอมิโลส 16.9 % สีของใบและลำต้น เขียวเข้มอมม่วง เก็บเกี่ยวปลายเดือนพฤศจิกายน ให้ผลผลิตประมาณ 643 กิโลกรัมต่อไร่
โดยข้าวหอมมะลิแดงถือเป็นข้าวที่มีเยื่อหุ้มเมล็ดสีแดงเข้ม เมื่อหุงสุกนุ่ม เหนียว และมีกลิ่นหอมเหมือนขาวดอกมะลิ 105 ต้านทานเพลี้ยกระโดดสีน้ำตาล ในสภาพธรรมชาติได้ดี ค่อนข้างต้านทานโรคไหม้คุณภาพการขัดสีดี คุณภาพการหุงต้ม นุ่ม มีกลิ่นหอม ต้านทานโรคและแมลง ที่สำคัญเป็นข้าวที่เหมาะสำหรับการผลิตแบบอินทรีย์
<br><b>ความน่าสนใจ</b><br>
ข้าวกล้องหอมมะลิแดง มีคุณสมบัติเด่นทางด้านโภชนาการ โดยจะมีดัชนีน้ำตาลต่ำ ช่วยในการป้องกันและบรรเทาโรคเบาหวานได้ดี และจากการทดสอบพบว่า ข้าวหอมมะลิแดงที่หุงสุกแล้วมีการเพิ่มขึ้นของระดับน้ำตาลกลูโคสในช่วงเวลา 20 นาทีแรกค่อนข้างช้า คือ 10.60 กรัมต่อ 100 กรัม และปริมาณน้ำตาลกลูโคสหลังจากย่อยผ่านไป 120 นาที มีค่าเพียง 8.59 กรัมต่อ 100 กรัม แสดงให้เห็นว่า ข้าวหอมมะลิแดงน่าจะเป็นข้าวพื้นเมืองที่มีดัชนีน้ำตาลที่เหมาะกับการส่งเสริมให้ผู้บริโภคที่อยู่ในภาวะปกติ หรือผู้ป่วยเบาหวานชนิดที่ 2 รับประทาน เพราะเมื่อรับประทานข้าวชนิดนี้เข้าไปแล้ว ร่างกายจะมีปริมาณน้ำตาลกลูโคสเพิ่มสูงขึ้นช้ากว่าข้าวเจ้าทั่วไป
 ที่สำคัญในข้าวกล้องทุกชนิดจะมีสารต้านอนุมูลอิสระสูง ได้แก่ ทองแดง ธาตุเหล็ก เบต้าแคโรทีน วิตามินอี ลูทีน สูง ซึ่งสารต้านอนุมูลอิสระ หรือ แอนติออกซิแดนท์ (antioxidant) คือสารที่สามารถขจัดอนุมูลอิสระออกจากร่างกาย ในข้าวกล้องหอมมะลิแดง มีสารทองแดง ธาตุเหล็ก เบต้าแคโรทีน วิตามินอี และลูทีนสูง ซึ่งการบริโภคอาหารที่มีสารต้านอนุมูลอิสระ จะช่วยลดอัตราการเกิดโรคมะเร็ง ลดอัตราเสี่ยงต่อการเป็นโรคหลอดเลือดและหัวใจ โรคความจำเสื่อม โรคไขข้ออักเสบ แก่เร็ว
  มีสารอาหารจำพวกแป้ง ไขมันไม่อิ่มตัว ไม่มีคลอเรสเตอรอล โปรตีน ช่วยซ่อมแซมส่วนที่สึกหรอของร่างกาย ฟอสฟอรัส ช่วยในการเจริญเติบโตของกระดูกและฟัน แคลเซียมช่วยลดอาการเป็นตะคริว วิตามินบี1 ช่วยป้องกันโรคเหน็บชา วิตามินบี2 ช่วยป้องกันโรคปากนกกระจอก ทองแดงช่วยในการสร้างเม็ดเลือด ใยอาหารป้องกันอาหารท้องผูก

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>094-4720183</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.เบญจลักษ์</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
