<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button text="" defaultHref="product"></ion-back-button>
    </ion-buttons>ผลิตภัณฑ์ข้าวแปรรูป
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../assets/images/n3.jpg"  alt="">
      <h1><ion-card-title>ข้าวกล้องหอมมะลิแดงอินทรีย์</ion-card-title></h1>
    </ion-card-header>

    <ion-card-content>
<b>รายละเอียดสินค้า</b><br>
ข้าวกล้องหอมมะลิแดงคุณภาพสูง ผลผลิตจากเกษตรกรอินทรีย์ จากอำเภอสนามชัยเขต จังหวัดฉะเชิงเทรา คุณค่าอาหารสูงกว่าข้าวกล้องหอมมะลิ อุดมด้วยวิตามินบี1
และแร่ธาตุที่มีประโยชน์อื่นๆเช่น ฟอสฟอรัส เหล็ก สังกะสี กากใยอาหารสูง ย่อยช้า เหมาะกับผู้ที่ต้องการควบคุมระดับน้ำตาลในเลือด รสชาติดี นุ่ม หอม มาตรฐานส่งออก
บรรจุมาในถุงสุญญากาศเพื่อรักษาคุณภาพของข้าวได้นานนับปีที่อุณหภูมิปกติ

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="success" name="cash" slot="start"></ion-icon>
      <ion-label>100.00 ฿</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="secondary" name="phone-portrait" slot="start"></ion-icon>
      <ion-label>086-8754838</ion-label>
      <ion-icon color="secondary" name="call" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="pin" slot="start"></ion-icon>
      <ion-label>อ.ราษีไศล</ion-label>
      <ion-icon color="danger" name="bus" fill="outline" slot="end" routerLink=""></ion-icon>
    </ion-item>
  </ion-card>

</ion-content>
